article>section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 3%;
  border: solid 1px black;
  border-radius: 15%;
  background-color: #709842;
  opacity: 0.7;
  flex: 1;
  max-width: 50%;
  padding-bottom: 1%;

}

article>section>img {
  width: 100%;
  height: auto;
  align-self: flex-start;
  margin: 0 auto;
}

article>section>h2,
p {
  text-align: center;
}

article>section>section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.bouton_continue {
  background-color: #baf675;
  color: black;
  font-size: 50%;
  padding: 8px 16px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  /* Empêcher le retour à la ligne */
}

article>section>section>button:hover {
  background-color: #baf675;
  color: black;
}